.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #1E352F;
    width: 100vw; /* Adjusted for better responsiveness */
    background-color: #1E352F;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.homeImage {
    height: 40px; /* Smaller height for better fit on mobile */
    cursor: pointer;
    margin-right: auto;
}

.navItems {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.navItem {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    margin-inline: 1vw;
    color: #A8BCA1;
}

.navItem a {
    text-decoration: none;
    color: #A8BCA1;
}

.navItem:hover {
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #A8BCA1;
    border: 2px solid transparent;
}

.active {
    border-radius: 10px;
    border: 2px solid #A8BCA1;
    padding: 5px 10px;
    box-shadow: 0 0 10px 5px #A8BCA1;
}

.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;       
        align-items: flex-start;
        padding: 10px;
    }

    .homeImage {
        height: 30px;           
    }

    .navItems {
        flex-direction: column;        
        width: 100%;                    /* Full width for mobile */
        align-items: flex-start;        /* Align items to the left */
        margin-top: 10px;
    }

    .navItem {
        font-size: 16px;               /* Smaller font size for mobile */
        padding: 8px 15px;     
        margin-inline: 0;    
    }

    .navItem:hover {
        font-size: 16px;           
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 8px;
    }

    .homeImage {
        height: 25px;                
    }

    .navItem {
        font-size: 14px;            
        padding: 6px 12px;
    }

    .navItem:hover {
        box-shadow: none;              
    }
}
