.footer {
    background-color: #1E352F;
    color: #A8BCA1;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footerTextSection {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .footerText {
    margin: 5px 0;
    font-size: 14px;
    color: #A8BCA1;
  }
  
  .newsletterSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1vw;
  }
  
  .newsletterText {
    font-size: 14px;
    color: #A8BCA1;
    display: flex;
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
  }
  
  .newsletterInput {
    padding: 8px;
    font-family: "Orbitron";
    font-size: 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #A8BCA1;
    background-color: #F4F4F9;
    color: #000;
    width: 200px;
    outline: none;
  }
  
  .newsletterButton {
    font-family: "Orbitron";
    padding: 9px 12px;
    background-color: #A8BCA1;
    color: #1E352F;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }
  
  .greenLine {
    width: 100%;
    border: none;
    border-top: 1px solid #A8BCA1;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .footerContent {
      flex-direction: column;
      text-align: center;
      padding: 0 2vw;
    }
    
    .footerTextSection {
      position: static;
      transform: none;
      margin-top: 10px;
    }
    
    .newsletterSection {
      align-items: center;
      margin: 10px 0;
    }
  
    .newsletterInput, .newsletterButton {
      width: 100%;
      margin: 5px 0;
    }
  }
  
  @media (max-width: 480px) {
    .footerText {
      font-size: 12px;
    }
  
    .newsletterInput, .newsletterButton {
      font-size: 12px;
    }
  }
  